---
import Layout from "../layouts/Layout.astro";
import {Image} from "@astrojs/image/components"
---

<Layout title="Starlight Studio - Book Today">
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
    <div class="relative pt-6 pb-8 sm:pb-24">
      <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
        <div class="text-center">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block">Enchanted Events</span>
          </h1>
          <p class="mt-3 max-w-md text-left mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
	  Theme parks draw thousands of visitors everyday to experience the magic of meeting their most beloved fairytale characters. Add magic to your festival, fundraiser, or corporate event by offering a character appearance at your event!
<br/>
<br/>
	  A meet & greet is the perfect way to draw a crowd, and provide a truly memorable and interactive experience for your guests! Character performers will arrive at your venue picture perfect. We will collaborate with you to design a meet & greet structure that best compliments your venue and event, and we will create and execute your design from start to finish. Don’t know where to start? We are happy to provide our professional expertise to lead the design of the event for you! </p>
        </div>
      </div>
    </div>

    <div class="relative">
      <div class="absolute inset-0 flex flex-col" aria-hidden="true">
        <div class="flex-1"></div>
        <div class="flex-1 w-full bg-gray-800"></div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 flex justify-center">
        <Image width="600" aspectRatio="3:2" format="avif" class="relative rounded-lg shadow-lg" src="/characters/events.avif" alt="App screenshot"/>
      </div>
    </div>
  </div>
  <div class="bg-gray-800">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <h2 class="text-center text-gray-400 text-sm font-semibold uppercase tracking-wide">Our community partners</h2>
      <div class="mt-8 grid grid-cols-4 gap-4">
        <div class="col-span-1 flex justify-center">
          <Image format="avif" width="200" aspectRatio="1:1" class="h-18  p-4 bg-white rounded-lg" src="/partners/caboose.avif" alt="Frozen Caboose Ice Cream"/>
        </div>
        <div class="col-span-1 flex justify-center ">
          <Image format="avif" width="200" aspectRatio="2:1" class="h-18   p-4 bg-white rounded-lg" src="/partners/gina.avif" alt="Gina Mariez Academy">
        </div>
        <div class="col-span-1 flex justify-center ">
          <Image format="avif" width="200" aspectRatio="1:1" class="h-18  p-4 bg-white rounded-lg" src="/partners/pottery.avif" alt="The Pottery Factory">
        </div>
        <div class="col-span-1 flex justify-center ">
          <Image format="avif" width="200" aspectRatio="1:1" class="h-18   p-4 bg-white rounded-lg" src="/partners/walkway.avif" alt="Walkway Over the Hudson">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-100">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl">Public Appearances Pricing</h2>
        <p class="mt-4 text-xl text-gray-600">Public event appearance requests will receive a personal quote to meet the needs of your event. Use our booking form to start building your princess experience</p>
      </div>
    </div>
  </div>
  <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-gray-100"></div>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
          <div class="flex-1 bg-white px-6 py-8 lg:p-12">
            <h3 class="text-2xl font-extrabold text-gray-900 sm:text-3xl">Public Events</h3>
            <p class="mt-6 text-base text-gray-500">All event pricing is evaluated on a case-to-case basis.</p>
            <div class="mt-8">
              <div class="flex items-center">
                <h4 class="flex-shrink-0 pr-4 bg-white text-sm tracking-wider font-semibold uppercase text-indigo-600">What's included</h4>
                <div class="flex-1 border-t-2 border-gray-200"></div>
              </div>
              <ul role="list" class="mt-8 space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5">
                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="ml-3 text-sm text-gray-700">Photos and Autographs</p>
                </li>

                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="ml-3 text-sm text-gray-700">One and a half hour appearance</p>
                </li>

                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="ml-3 text-sm text-gray-700">Up to 50 guests</p>
                </li>

                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="ml-3 text-sm text-gray-700">Live performances</p>
                </li>
                <li class="flex items-start lg:col-span-1">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/check-circle -->
                    <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <p class="ml-3 text-sm text-gray-700">Event publicity</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
            <div class="mt-6">
              <div class="rounded-md shadow">
                <a href="/book" class="flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900">Get a Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</Layout>
