---
import Layout from "../layouts/Layout.astro"
---

<Layout>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="max-w-2xl lg:mx-auto text-center">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Frequently asked questions</h2>
      <p class="mt-4 text-gray-500">Any other questions? Feel free to email us! starlightstudiony@gmail.com</p>
    </div>
    <div class="mt-20">
      <dl class="lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-14">
        <div>
          <dt class="font-semibold text-gray-900">Booking</dt>
          <dd class="mt-3 text-gray-500">The booking process begins here - on our website! Review the option available under the “services” tab for your desired service type. If you need help deciding on what service option is right for your event, take a look at the rest of this page or send us an email, we are happy to help! Once you’ve decided, fill out the form under the “book” tab to tell us more about your event. Once we have received your request, we will reach out to you via email to confirm the details of your event! Once everything looks good, we will generate a digital invoice and send via email which you can pay online with any debit or credit card right from home! </dd>
        </div>

        <div>
          <dt class="font-semibold text-gray-900"> Date and Time </dt>
          <dd class="mt-3 text-gray-500"> We highly recommend that you schedule the arrival of the performer for 30 minutes past the start time of your event. This will ensure all of your guests have plenty of time to arrive and settle in prior to the performer arriving and beginning activities. Generally, events take place on weekend days between 9:00am and 5:00pm. Weekday events can occasionally be accommodated under special circumstances. </dd>
        </div>

        <div>
          <dt class="font-semibold text-gray-900"> Group Size / Number of Performers </dt>
          <dd class="mt-3 text-gray-500">Our rule of thumb is one performer for every 10 children. Especially if your little guests are under the age of three, we highly suggest adhering to this guideline. Consider adding an additional character if you have a larger group attending your event, or a longer timeframe. If your prince or princess is turning four or older, a 15 child group size can occasionally be accommodated. event duration For the littlest members of our kingdom, (under the age of three) a 30 minute event can be perfect to keep everyone engaged without becoming over stimulated. While children four and older can enjoy all the magic of the 60 minute event! </dd>
        </div>

        <div>
          <dt class="font-semibold text-gray-900"> Location </dt>
          <dd class="mt-3 text-gray-500"> All prices include travel up to 30 miles from New Paltz, New York. Locations outside of that radius require a fee of $1.00 per mile. We ask that you refrain from choosing a location or venue that provides entertainment services such as a gym, zoo, or circus. Our professional performers will engage your guests from start to finish, and we find that little ones are able to most successfully engage with the performer when there is not additional stimulus. </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
</Layout>
