---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="bg-white">
		<div
			class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 pb-4"
		>
			<div class="max-w-2xl lg:mx-auto text-center">
				<h2
					class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
				>
					Terms of Use
				</h2>
			</div>
			<div class="flex flex-col">
				<div class="text-center">
					<h3 class="text-rose-600 text-2xl">
						Payment
					</h3>
					<p>
						Payment in full is required upon
						receipt of digital invoice to
						secure your event date and time.
						Your invoice can be paid online
						with a valid credit or debit
						card, we do not accept cash,
						check or money order. Until
						payment is received, your event
						date and details of your request
						(date, time, duration,
						character) are not secured and
						can be booked by another client.
						Details of the event cannot be
						changed after securing event
						without forfeiture of payment
						unless mutually agreed upon by
						the host and The Starlight
						Studio. If applicable, the host
						must provide and pay any parking
						fees for the performers to
						attend any event. Gratuity to
						the performer is always
						appreciated, and can be paid on
						your invoice at the time of
						booking or in cash to your
						performer on the day of the
						event. We ask that you do not
						discuss or give gratuity
						directly in front of children.
						If cancellation by The Starlight
						Studio occurs, a full refund of
						your payment will be issued to
						the card used to reserve your
						event.
					</p>
				</div>
				<div class="text-center">
					<h3 class="text-rose-600 text-2xl mt-4">
						Booking
					</h3>
					<p>
						All events are reserved on a
						first come, first serve basis.
						The Starlight Studio reserves
						the right to refuse service
						based on availability, location,
						safety concerns or disorderly
						conduct. In the case of extreme
						weather conditions, or other
						safety concerns, the host and
						The Starlight Studio will
						reschedule the event for a
						mutually agreed upon date. In
						the event of dangerous weather,
						serious illness, or other
						unforeseen emergencies, we
						reserve the right to cancel the
						event and offer an alternative
						date available or issue a full
						refund for the event. Every and
						all parties must begin at the
						scheduled start time and end
						after the duration of the event.
						If your event duration goes
						beyond your scheduled time, the
						host will be charged an overage
						fee determined by The Starlight
						Studio.
					</p>
				</div>
				<div class="text-center">
					<h3 class="text-rose-600 text-2xl mt-4">
						Requirements
					</h3>
					<p>
						Hosts must provide a safe and
						clean environment for our
						performers, be courteous and
						respectful and interact
						appropriately with The Starlight
						Studio personnel. Inappropriate
						behavior or language directed at
						Starlight Studio personnel will
						end the event. Please save all
						questions not related to the
						character performance for before
						or after the appearance to
						maintain character integrity.
						Host must be present at all
						times during the appearance.
						Parents/Guardians are
						responsible for any disruptions
						to the performance due to
						children’s behavior. Due to the
						nature of the expensive handmade
						gowns we ask that events take
						place indoors unless previously
						discussed and agreed upon
						between Starlight Studio and the
						Host. In the case of outdoor
						events, characters will need a
						dry area free of mud and dirt.
						We are unable to accommodate an
						outdoor event if the temperature
						is 90 degrees or above. In order
						to prevent costume and wig
						damage, we cannot do outdoor
						events in rain/inclement
						weather. In the event of extreme
						heat or rain, an alternate
						location must be provided by the
						Host in order to avoid damage to
						costumes and wigs. Food, drink
						and cigarette smoke is not
						permitted near the performer for
						the same reason. If you are
						having a pool or water party,
						please plan for children to be
						in dry clothing during
						interaction with the performer,
						and have separate space away
						from the pool or body of water
						where the activities can take
						place.
					</p>
				</div>
				<div class="text-center">
					<h3 class="text-rose-600 text-2xl mt-4">
						Responsibilities
					</h3>
					<p>
						The Host is fully responsible
						for any potential damage or
						injuries of the attendees during
						the performance and financially
						liable for any damages incurred
						to The Starlight Studio’s assets
						during the appearance. The
						Starlight Studio does not assume
						responsibility or liability for
						accidents or damages caused
						during the event. However, you
						can be assured the performers of
						Starlight Studio will treat your
						home and guests with respect and
						care. The Starlight Studio is
						not responsible for allergic
						reactions to any costumes,
						cosmetics, or accessories, or
						consuming any food or beverages
						before, during or after the
						event. It is the responsibility
						of the guest and/or guests,
						parent or guardian to inform the
						Host of any allergy restrictions
						and take the appropriate steps
						to avoid contact with such
						items. The Starlight Studio is
						not responsible for any
						injuries, negligence, or unruly
						behavior during events. Please
						act responsibly and
						appropriately supervise all
						event guests.
					</p>
				</div>
				<p class="text-center font-extrabold text-rose-700 mt-4">Failure to comply with any of these terms may result in an additional charge issued by Starlight Studio via digital invoice. If payment of any additional charges accrued is not received within 30 days, the client will be contacted and the total amount will be charged to the card associated with the booking. By booking an event with The Starlight Studio, you are stating that you have read and agree to comply with all of the Terms and Conditions listed above. </p>
				<p class="text-center font-semibold mt-5 "> Starlight Studio or any of its affiliates does not claim to portray any copyrighted or licensed material owned by any other entity. </p>
			</div>
		</div>
	</div>
</Layout>
