---
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="initial-scale=1.0, width=device-width"
		/>
		<link rel="icon" type="image" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Admin Panel</title>
	</head>
	<body class="h-full w-full">
		<slot/>
	</body>
</html>
